snippet today "today's date"
`!p import time; snip.rv=time.strftime("%d-%m-%Y")`
endsnippet

snippet todayl "today's date long"
`!p import time; snip.rv=time.strftime("%d %B %Y")`
endsnippet

snippet now "date and time"
`!p import time; snip.rv=time.strftime("%d-%m-%Y %H:%M:%S")`
endsnippet

