extends general
extends tex

snippet fm "fmatter with filename as title and today's date " b
---
title: ${1:`!v expand('%:t:r')`}
date: ${2:`!p import time; snip.rv=time.strftime("%d %B %Y")`}
author: ${3:Pietro Patelli}
keywords: $4
geometry: "left=3cm,right=3cm,top=2cm,bottom=2cm"
---
$0
endsnippet

snippet link "Link to something"
[${1:${VISUAL:Text}}](${3:http://${2:www.url.com}})$0
endsnippet

snippet img "Image"
![${1:label}](${2:path}){#fig:${3:ref} width=85% }$0
endsnippet
