snippet s "Ultisnips snippet definition" b
`!p snip.rv = "snippet"` ${1:Tab_trigger} "${2:Description}" $3
${0:${VISUAL}}
`!p snip.rv = "endsnippet"`
endsnippet

snippet $
	${${1:1}:${0:text}}
endsnippet

snippet vis "${VISUAL}" i
\$\{VISUAL${1:${2:default}${3:/transform/}}\}
endsnippet
