snippet doc "documentclass etc"
\documentclass[a4paper, 10pt]{article}
\usepackage[margin=.9in]{geometry}
\usepackage{setspace, csquotes, ulem}
\usepackage[utf8]{inputenc}
\setlength{\parindent}{0cm}
$0
endsnippet
	
