*.swp
*.swo
pack/minpac/start
pack/minpac/opt
!pack/minpac/opt/minpac
tmp/*
!tmp/.vim-swapfiles/
tmp/.vim-swapfiles/*
!tmp/.vim-swapfiles/README.md
!tmp/.undodir/
tmp/.undodir/*
!tmp/.undodir/README.md
.netrwhist
_viminfo
colors/nightsea.vim
colors/nightsea_dev.vim
plugged/
sessions/
notes.md
